{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content user signin{{if .LinkAccountMode}} icon{{end}}">
	<div class="ui container pixel-auth-shell">
		{{template "user/auth/signin_inner" .}}
	</div>
</div>
{{template "base/footer" .}}
